<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/custom.css">
    <title>Untitled Project 2</title>
</head>

<body>
    <%- include('./partials/header') %>
        <div class="container">
            <%- body %>
        </div>
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
        <script defer src="/javascripts/chart.js"></script>
        <script defer src="/javascripts/functions.js"></script>
        <script defer src="https://kit.fontawesome.com/c4e26af306.js" crossorigin="anonymous"></script>
</body>

</html>